# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@db:5432/postgres?schema=public"

JWT_SECRET = 'secretKey'
JWT_EXPIRES_IN = '2h'

EMAIL_HOST='sandbox.smtp.mailtrap.io'
EMAIL_USERNAME='5e8b9bc7d70708'
EMAIL_PASSWORD='8f75e3111b03a0'

RABBITMQ_URI='amqp://rabbitmq'